<!DOCTYPE html>
<html>
  <body>
    <head>
      <meta charset="utf-8">
      <title>ログイン</title>
      <%= stylesheet_link_tag 'login-stylesheet' %>
    </head>

    <main>
      <p class = "login-message">ID,パスワードを入力してください</p>
      <p>ID</p>
      <input>
      <p>パスワード</p>
      <input>
      <p></p>
      <input class = "submit" type = submit value = "ログイン">
    </main>
  </body>
</html>
