<!DOCTYPE html>
<html>
<body>
    <head>
      <meta charset="utf-8">
      <title>沼津高専サッカー部</title>
    </head>
    <header>
      <div class="header-right">'
        <a href="/login" class="login">ログイン</a>
      </div>
    </header>

    <div class = "main">
      <h1>沼津高専サッカー部</h1>
      <p>要望、思っていることを書いてください</p>
      <textarea name="name" rows="8" cols="80"></textarea>
      <p></p>
      <input class = "submit" type = submit value = "送信" onclick="location.href='/send'">
    </div>
  </body>
</html>
