 a {
   text-decoration: none;
 }

 body{
   margin:0;
   font-family: "ＭＳ Ｐ明朝";
 }

 header{
   background-color:rgba(34, 49, 52, 0.6);
   position:fixed;
   top:0;
   width:100%;
   height:50px;
   z-index:10;
 }

 .header-right {
   float: right;
   background-color: rgba(255, 255, 255, 0.3);
   transition:all 0.5s;
 }

 /*ログインリンク*/
 .header-right a{
   line-height:50px;
   padding-left:25px;
   padding-right:25px;
   margin:0;
   color:white;
   display:block;
 }

 .main{
   text-align: center;
   background-image: url("/background.jpg");
   height:1040px;
 }

 .submit{
   width:30%;
   display: inline-block;
   padding: 0.5em 1em;
   text-decoration: none;
   background: #f7f7f7;
   border-left: solid 10px #ff7c5c;/*左線*/
   color: #ff7c5c;/*文字色*/
   font-weight: bold;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
 }
 .submit:active{
   box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
   transform: translateY(2px);
 }

 .main h1{
   margin:0;
   padding-top:100px;
   padding-bottom:50px;
   font-size:100px;
 }

 .main p{
   font-size:30px;
 }
