<!DOCTYPE html>
<html>
  <head>
    <title>沼津高専サッカー部</title>
    <link rel=”icon” href=“/favicon.ico”>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
